body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}

img {
  width: 30vh;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

.title-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 5, 147);
  color: white;
  border-radius: 40px;
  flex-direction: column;
}

.download-android-btn {
  margin: 0;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20vh;
  border: none;
  color: white;
  background-color: rgb(76, 0, 255);
}

.download-android-btn:hover {
  background-color: rgb(76, 0, 255);
  transform: translateY(-2px);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.download-ios-btn {
  background-color: rgb(76, 0, 255);
  transform: translateY(-2px);
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;

  margin: 0;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20vh;
  border: none;
  color: white;
  background-color: rgb(76, 0, 255);
}

.download-ios-btn:hover {
  background-color: rgb(76, 0, 255);
  transition: transform 0.2s, background-color 0.2s;
}

.one-center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  font-weight: 800;
}

footer {
  background-color: rgb(76, 0, 255);
  padding: 10px;
  color: white;
  font-size: 20px;
  border-radius: 20px;
}
